* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: start;
  justify-content: center;
}

.main-box {
  position: relative;
  height: 768px;
  width: 1366px;
  background-color: black;
  display: block;
}

#time {
  display: block;
  height: 500px;
  width: 100%;
  color: white;
  margin-top: -140px;
  font-size: 50rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

#day {
  display: block;
  color: white;
  font-size: 10rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-top: 152px;
}

#date {
  display: block;
  color: white;
  font-size: 5rem;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}

.author {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0;
  border: 1px solid red;
  width: 150px;
  height: 55px;
  padding: 2px 5px;
}

.author p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.author p:last-child {
  padding-top: 2px;
}
